---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { formatDate } from '../../utils/formatDate';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({    
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);

---

<BaseLayout title={post.data.title}>
  <div class="container">
    <article>
      <div class="page-header-wrap">
          <h1 class="page-header archive-header x-large-font-size">{post.data.title}</h1>
          <div class="post-meta">
            <span>{formatDate( post.data.date)}</span> — by <a href={`/author/${post.data.author?.toLowerCase().replace(/\s+/g, '-')}/`}>{post.data.author}</a> in <a href={`/categories/${post.data.categories}/`}>{post.data.categories?.join(', ') || ''}</a>
          </div> 
      </div>         
      <div class="content">
        <Content />
      </div>      
    </article>
  </div>  
</BaseLayout>