---
import { getCollection } from 'astro:content';
import type { Post } from '../types';

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

---

<h1>文章列表</h1>
    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/posts/${post.data.title}`}>
            <h2>{post.data.title}</h2>
            <p>{post.data.description}</p>
          </a>
        </li>
      ))}
    </ul>