---
import { getAllPosts, getPaginatedPosts } from '../utils/posts';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getExcerpt } from '../utils/truncate';
import Pagination from '../components/Pagination.astro';
import { SITE_CONFIG } from '../config/constants'

export const prerender = true;

const allPosts = await getAllPosts();

const currentPage = 1;
const { posts: currentPosts, totalPages } = getPaginatedPosts(
  allPosts, 
  currentPage, 
  SITE_CONFIG.postsPerPage
);

---

<BaseLayout title={ SITE_CONFIG.homePageTitle }>
  <div class="container">
    <div class="page-header-wrap">
      <h1 class="page-header">How to Articles</h1>
    </div>    
    <section class="posts-section">
      <ul class="post-grid" role="list">
        {currentPosts.map((post) => (
          <li>
            <article class="post-card">
              <h3 class="post-title">
                <a class="post-link" href={`/posts/${post.data.slug}`}>
                  {post.data.title || 'Untitled'}
                </a>
              </h3>
              <div class="post-content">
                <p class="post-excerpt">
                  {getExcerpt(post.body ?? "", SITE_CONFIG.excerptLength)}
                </p>
                <p class="read-more">
                  <a class="read-more-link" href={`/posts/${post.data.slug}`}>read more →</a>
                </p>
              </div>
            </article>
          </li>
        ))}
      </ul> 
      <Pagination currentPage={currentPage} totalPages={totalPages} />
    </section>
  </div>
</BaseLayout>

