---

---
<div class="header-wrap">
	<div class="header">
        <div class="headcon clearfix">
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="glarysoft" /></a>
            </div>
            <div class="header-r">
                <div class="translate-nor"><div id="google_translate_element"></div></div>
                <ul class="nav">
                    <li id="products"><button class="arrow">Products</button>            	
                        <div class="subnavpart">
                            <div class="subnav">
                                <a href="/glary-utilities/" class="notranslate" target="_self">Glary Utilities</a>
                                <a href="/malware-hunter/" class="notranslate" target="_self">Malware Hunter</a> 
                                <a href="/file-recovery-free/" class="notranslate" target="_self">File Recovery</a>
                                <a href="/software-update-free/" class="notranslate" target="_self">Software Update</a>
                            </div>   
                        </div>
                    </li>
                    <li id="downloads"><button class="arrow">Downloads</button>
                        <div class="subnavpart">
                            <div class="subnav">
                                <a href="/downloads/?p=gu-page" target="_self">Download <span class="notranslate">Glary Utilities</span></a>
                                <a href="/downloads/?p=mh-page" target="_self">Download <span class="notranslate">Malware Hunter</span></a>
                                <a href="/downloads/?p=fr-page" target="_self">Download <span class="notranslate">File Recovery</span></a> 
                                <a href="/downloads/?p=su-page" target="_self">Download <span class="notranslate">Software Update</span></a>
                            </div>   
                        </div>  
                    </li>
                    <li id="shop">                  
                    <a href="/store/" target="_self">
                        <!-- <p class="anni" href="">
                            <span class="store-icon"><span class="strap"></span><span class="deco-line"></span></span>
                        </p> -->
                        <p id="store-wrap"><span id="store"></span></p>
                    Store</a>
                    </li>
                    <li id="support"><button class="arrow">Support</button>
                        <div class="subnavpart">
                            <div class="subnav">
                                <a href="/support/lost-license/" target="_self">Lost License</a>
                                <a href="https://www.glarysoft.com/kb/faqs/" target="_self">FAQs</a>
                                <a href="/support/online-feedback/" target="_self">Online Feedback</a>
                                <a href="https://my.glarysoft.com/" target="_self">My Account</a>                    
                            </div>
                        </div>
                    </li>
                    <li id="company"><button class="arrow">Company</button>
                        <div class="subnavpart">
                            <div class="subnav">
                                <a href="/company/about-us/" target="_self">About Us</a>
                                <a href="/company/press-release/" target="_self">Press Center</a>
                                <a href="/company/partners/" target="_self">Reseller</a>
                                <a href="/company/affiliate/" target="_self">Affiliate</a>
                                <a href="/company/contact-us/" target="_self">Contact Us</a>
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
            <div class="navshortcut"></div>
        </div>
    </div>
</div> 